body {
  font-family: "Poppins", sans-serif;
}

.container {
  position: absolute;
  margin-top: 300px;
  margin-left: 600px;
  margin-right: 500px;
  border: 5px solid black;
  max-width: 600px;
  max-height: 800px;
}

.card {
  padding: 70px;
}
